<script language="javascript">
  Metadata = {
    init: function() {
      $("#deckname").focus(Metadata.onNameFocus);
      $("#deckname").blur(Metadata.onNameBlur);
      $(".cardcount").blur(Metadata.onNumberBlur);
      $(".delete").click(Metadata.onCardDeleteClick);
    },

    onCardDeleteClick: function(event) {
      event.preventDefault();
      Metadata.changeCardNumber($(event.target).attr("cardid"), 0);
    },

    onNameFocus: function() {
      if ($("#deckname").val().substr(0,7) == "Unnamed")  {
        $("#deckname").val("");
      }
    },

    onNameBlur: function() {
      var deckId = $("#deckmetadata").attr("deckid");
      var deckName = $("#deckname").val();
      $.ajax({
        type: "POST",
        url: "/search/update_deck_name",
        data: {
          deck_id: deckId,
          deck_name: deckName
        },
        success: function(html) {
          if (html != "")
            $("#deckmetadata").replaceWith(html);
        }
      });
    },

    onNumberBlur: function(event) {
      Metadata.changeCardNumber($(event.target).attr("cardid"), $(event.target).val());
    },

    changeCardNumber: function(cardId, quantity) {
      var deckId = $("#deckmetadata").attr("deckid");
      var viewingDeck = ($("#deckmetadata").attr("viewingdeck") == "true");


      $.ajax({
        type: "POST",
        url: "/search/update_card_quantity",
        data: {
          card_id: cardId,
          deck_id: deckId,
          quantity: quantity,
          viewing_deck: viewingDeck
        },
        success: function(html) {
          if (html != "")
            $("#deckmetadata").replaceWith(html);
          if (quantity == 0 && viewingDeck) {
            CardGrid.refresh(deckId);
          }
        }
      });
    }
  }
  $(document).ready(Metadata.init);
</script>

<div id="deckmetadata" deckid="<%= deck.nil? ? "" : deck.id %>"
     deckname="<%= deck.nil? ? "" : deck.name %>"
     viewingdeck="<%= viewing_deck %>"
     deckhash="<%= deck.nil? ? "" : deck.deck_hash %>" >
  <div id ="deckheader">
      <a href="/"><img src="/images/logo.png" id="logo" /></a>
  </div>
  <div id="deckcontent">
  <form>
  <% if !deck.nil? %>
    <input type="text" value="<%= deck.name %>" id="deckname" />
    <div id="decklist">
      <h4>Cards: <%= deck.packs.map { |pack| pack.number }.sum %></h4>
      <% [:creatures, :planeswalkers, :enchantments, :sorceries,
          :instants, :artifacts, :lands].each do |card_type| %>
        <h4><%= card_type.to_s.capitalize.to_sym %>: <%= deck.send(card_type).map { |pack| pack.number }.sum %></h4>
        <% deck.send(card_type).each do |pack| %>
          <li>
            <input type='text' value="<%= pack.number %>" cardid="<%= pack.card.id %>" class="cardcount" />
            <%= pack.card.name %> (<%= pack.card.mana %>) (<a href="#" class="delete" cardid="<%= pack.card.id %>">x</a>)
          </li>
        <% end %>
      <% end %>
      <h4>Mana Curve</h4>
      <div id="manaCurve">
        <% deck.mana_curve.each_with_index do |num_cards, cost| %>
          <div class="curveCount">
            <p><%= cost %></p>
            <p><%= num_cards %></p>
          </div>
        <% end %>
      </div>
      <h4>Color Spread</h4>
      <div id="colorSpread">
        <% deck.color_spread.each do |color, count| %>
          <div class="curveCount">
            <p><%= color %></p>
            <p><%= count %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div id="deckLinks">
      <% if viewing_deck %>
        <a href="/deck/edit/<%= deck.deck_hash %>">Add more cards to deck</a> |
      <% else %>
        <a href="/deck/view/<%= deck.deck_hash %>">View deck</a> |
      <% end %>
      <a href="/deck/proxy/<%= deck.deck_hash %>" target="_blank">Print a proxy</a>
    </div>
  <% end %>
  </form>
  <br/>
 <!-- <a href="/">Build New Deck</a> |
  <a href="/deck/"> View All Decks</a>-->
  </div>
</div>
