<div id="deckmetadata" deckid="<%= deck.nil? ? "" : deck.id %>" deckname="<%= deck.nil? ? "" : deck.name %>">
<script language="javascript">
  Metadata = {
    init: function() {
      $("#deckname").focus(Metadata.onNameFocus);
      $("#deckname").blur(Metadata.onNameBlur);
      $(".cardcount").blur(Metadata.onNumberBlur);
    },

    onNameFocus: function() {
      if ($("#deckname").val().substr(0,7) == "Unnamed")  {
        $("#deckname").val("");
        $("#deckname").removeClass("grayText");
      }
    },

    onNameBlur: function() {
      $("#deckname").addClass("grayText");
      var deckId = $("#deckmetadata").attr("deckid");
      var deckName = $("#deckname").val();
      $.ajax({
        type: "POST",
        url: "/search/update_deck_name",
        data: {
          deck_id: deckId,
          deck_name: deckName
        }
      });
    },

    onNumberBlur: function(event) {
      var cardId = $(event.target).attr("cardid");
      var deckId = $("#deckmetadata").attr("deckid");
      var quantity = $(event.target).val();

      $.ajax({
        type: "POST",
        url: "/search/update_card_quantity",
        data: {
          card_id: cardId,
          deck_id: deckId,
          quantity: quantity
        }
      });
    }
  }

  $(document).ready(Metadata.init);

</script>
<form>
<% if !deck.nil? %>
  <input type="text" value="<%= deck.name %>" id="deckname" class="grayText" />
  <ul id="decklist">
  <% deck.packs.each do | pack | %>
    <li><input type='text' value="<%= pack.number %>" cardid="<%= pack.card.id %>" class="cardcount" /> <%= pack.card.name %> </li>
  <% end %>
  </ul>
  <% if viewing_deck %>
    <a href="/search/index/<%= deck.deck_hash %>">Add more cards to deck</a>
  <% else %>
    <a href="/deck/view/<%= deck.deck_hash %>">View deck</a>
  <% end %>
  <a href="/deck/proxy/<%= deck.deck_hash %>" target="_blank">Print a proxy</a>
<% else %>
    <input type="text" value="deck name" id="deckname" class="grayText" />
<% end %>
</form>
<br /><br />
<a href="/deck/"> View all the decks</a>
</div>
