<div id="deckmetadata" deckid="<%= deck.nil? ? "" : deck.id %>" deckname="<%= deck.nil? ? "" : deck.name %>">
<script language="javascript">
  Metadata = {
    init: function() {
      $("#deckname").focus(Metadata.onNameFocus);
      $("#deckname").blur(Metadata.onNameBlur);
      $(".cardcount").blur(Metadata.onNumberBlur);
    },

    onNameFocus: function() {
      $("#deckname").val("");
      $("#deckname").removeClass("grayText");
    },

    onNameBlur: function() {
      if ($("#deckname").val() != "")
        return;
      $("#deckname").addClass("grayText");
      $("#deckname").val("deck name");
    },

    onNumberBlur: function(event) {
      cardId = $(event.target).attr("cardid");
      deckId = $("#deckmetadata").attr("deckid");
      deck_name = $("#deckmetadata").attr("deckname");
      quantity = $(event.target).val();

      $.ajax({
        type: "POST",
        url: "/search/update_card_quantity",
        data: {
          card_id: cardId,
          deck_id: deckId,
          deck_name: deck_name,
          quantity: quantity
        }
      });
    }
  }

  $(document).ready(Metadata.init);

</script>
<form>
<% if !deck.nil? %>
  <input type="text" value="<%= deck.name %>" id="deckname" class="grayText" />
  <ul id="decklist">
  <% deck.packs.each do | pack | %>
    <li><input type='text' value="<%= pack.number %>" cardid="<%= pack.card.id %>" class="cardcount" /> <%= pack.card.name %> </li>
  <% end %>
  </ul>
  <a href="/deck/view/<%= deck.deck_hash %>">View deck</a>
<% else %>
    <input type="text" value="deck name" id="deckname" class="grayText" />
<% end %>
</form>
</div>
