<div id="searchBreadcrumbs">
  <% breadcrumbs.each do |name, value| %>
    <div class="breadcrumb">
      <p><%= name %>: <%= value %></p>
      <input name="<%= name %>" value="<%= value %>" type="hidden" />
    </div>
    <input name="<%= name %>" value="<%= value %>" type="hidden" />
  <% end %>
</div>
 <%= render :partial => "card_grid", :locals => {:cards => cards, :load_more => load_more} %>
