<div id="searchBreadcrumbs">
  <% breadcrumbs.each do |name, value| %>
    <div class="breadcrumb">
      <p><%= name %>: <%= value %></p>
      <input name="<%= name %>" value="<%= value %>" type="hidden" />
    </div>
    <input name="<%= name %>" value="<%= value %>" type="hidden" />
  <% end %>
</div>
<div id="resultCards">
  <% cards.each do |card| %>
    <div class="card">
      <img src="https://s3-us-west-1.amazonaws.com/deckproxy.com/scans/<%= card.edition.downcase
            %>/<%= card.number %>.jpg"
       onclick="addCardToDeck('<%= card.name %>')" />
    </div>
  <% end %>
</div>
<input type="hidden" id="loadMore" value="<%= load_more ? offset : 'none' %>" />

